In [1]:
print("Hello")

Hello

In [2]:
print('enter')

enter

Normal text as explanation

In [2]:
my_dog = 2
print(my_dog)

2

In [3]:
a = 2

In [4]:
a

2

In [5]:
type(a)

int

In [6]:
a = 3.10

In [7]:
a

3.1

In [8]:
type(a)

float

In [10]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [13]:
print(int(my_taxes))

10

Change string into list and then slice them to get character that you want and then change the result back to string

In [20]:
my_char = "Elisabeth"
print(my_char[3:4])

s

In [27]:
for str in my_char

str

In [22]:
print(my_char)

Elisabeth

In [28]:
"this isn't going to work "

"this isn't going to work "

In [29]:
"I am gonna finish this course"

'I am gonna finish this course'

In [30]:
print("valdo")

valdo

In [31]:
print("Hello \nWOrld")

Hello
WOrld

In [32]:
len("I am gonna finish this course")

29

Indexing

In [33]:
my_indexing = "I am gonna finish this course"
my_indexing[5]

'g'

In [34]:
my_indexing[12]

'i'

Reverse indexing

In [35]:
my_indexing[-1]

'e'

In [36]:
my_indexing[-9]

'i'

Slicing = define sub-section of the string

In [37]:
my_indexing

'I am gonna finish this course'

In [39]:
my_indexing[13:16]

'nis'

reverse slicing

In [46]:
my_indexing[-16:-13]

'nis'

position 4 to all

In [52]:
my_indexing[6:] #grab from 6th to all

'onna finish this course'

In [53]:
my_indexing[:4] #grab all up to fourth potition but not included

'I am'

In [55]:
my_indexing[:] #grab all

'I am gonna finish this course'

In [59]:
my_indexing[::-1] #backward

'esruoc siht hsinif annog ma I'

In [60]:
my_indexing[::2]

'Ia on iihti ore'

In [61]:
my_indexing="valdo"

In [63]:
my_indexing[1:4:2] # 1: grab 1st position to all = "a"
# :4 grab all up to fourt position but not included = "ald"
#:2 two jump slice = "ad"

'ad'

String properties and string method

In [68]:
# Concatination 
name = "Elizabeth" #change Z to s "Elisabeth" using slicing and indexing
first_slice = name[:3]
second_slice = name[4:]

In [71]:
full_name = first_slice + "s" + second_slice
print(full_name)

Elisabeth

In [1]:
x = "Hello World"
x.upper()

'HELLO WORLD'

In [3]:
x.split()

['Hello', 'World']

In [5]:
x.split("l") # split specific word

['He', '', 'o Wor', 'd']

String formatting for printing

In [21]:
# There are many ways of printing string and one them is .format{}

my_name= "valdo"
print(my_name + " {} {} {}".format("is", "my","nickname"))

valdo is nickname my

In [22]:
print(my_name + " {1} {2} {0}".format("is", "my","nickname")) # assigned each index position into {}

valdo my nickname is

In [23]:
print("The {} {} {}".format("quick", "brown", "fox")) # other ways to write

The quick brown fox

In [24]:
print("The {2} {1} {0}".format("quick", "brown", "fox")) #another option

The fox brown quick

In [25]:
print("The {f} {q} {b}".format(q="quick", b="brown", f="fox")) #another option

The fox quick brown

Float Formatting "{value:width.precision f}"

In [26]:
my_integer = 37/89

In [27]:
print(my_integer)

0.4157303370786517

In [38]:
print("The result is: {result:2.3f}".format(result = my_integer)) 
# value is from .format
# width is the space between string and the result
# precision f is floating point value

The result is: 0.416

In [47]:
number = 105.4329843
print("The result is: {result:1.7f}".format(result = number))

The result is: 105.4329843

Formating string litteral

In [49]:
name = "Valdo"

In [54]:
print("My name is {}".format(name))# using .format
print(f"His name is {name}") # using formatting literal

My name is Valdo
His name is Valdo

In [55]:
age = 34

In [56]:
print(f"My name is {name} and I am {age} years old. ")

My name is Valdo and I am 34 years old.

In [71]:
name = "Lisa"
print("{:10}".format(name))
print("{:_<10}".format(name))
print("{:_^10}".format(name))
print("{:_>10}".format(name))
print("{:.2}".format(name))

Lisa
Lisa______
___Lisa___
______Lisa
Li

List in python 
Ordered sequence using bracket [ ] and commas to separate objects in the list

Can be sliced and indexed

In [74]:
my_list = ['valdo', 5 , "lisa", 34.10] #python list can hold any data types

In [73]:
print(my_list)

['valdo', 5, 'lisa', 34.1]

In [75]:
len(my_list)

4

slice and indexing on list much more similar to string slice and indexing

In [76]:
print(my_list)

['valdo', 5, 'lisa', 34.1]

In [77]:
my_list[1]

5

In [78]:
my_list[0]

'valdo'

In [80]:
print(my_list[0] + " and " + my_list[2] + " been {1} together for {0} years.".format(my_list[1], "living"))

valdo and lisa been living together for 5 years.

In [81]:
my_list

['valdo', 5, 'lisa', 34.1]

In [82]:
my_list[2:]

['lisa', 34.1]

In [83]:
my_list[0]="VALDO"

In [84]:
my_list

['VALDO', 5, 'lisa', 34.1]

Add element on the list

In [86]:
my_list

['VALDO', 5, 'lisa', 34.1]

In [94]:
my_list.append("Cambridge") #add another element at the very end of the list

In [95]:
my_list

['VALDO', 5, 'lisa', 34.1, 'Cambridge']

In [96]:
my_list.append(29)

In [90]:
my_list

['VALDO', 5, 'lisa', 34.1, 'Cambridge', 29]

remove element from the list

In [97]:
my_list.pop() #remove last element in this case integer 29

29

In [98]:
my_list

['VALDO', 5, 'lisa', 34.1, 'Cambridge']

In [101]:
my_list.pop(3) #remove element using index in this case the third index position

34.1

In [102]:
my_list

['VALDO', 5, 'lisa', 'Cambridge']

In [103]:
new_list = my_list.pop()

In [104]:
new_list

'Cambridge'

In [105]:
my_list

['VALDO', 5, 'lisa']

In [106]:
new_list

'Cambridge'

In [107]:
new_list

'Cambridge'

In [108]:
my_list

['VALDO', 5, 'lisa']

short list

In [109]:
num_list = [2,5,1,0,12,9,23]

In [125]:
sort_list = ["d","y","b","t"]

In [122]:
num_list.sort()
new_sorted_list = num_list

In [123]:
new_sorted_list

[0, 1, 2, 5, 9, 12, 23]

In [126]:
sort_list.sort()

In [127]:
sort_list

['b', 'd', 't', 'y']

reverse list

In [128]:
new_sorted_list

[0, 1, 2, 5, 9, 12, 23]

In [139]:
new_sorted_list.reverse()

In [140]:
new_sorted_list

[23, 12, 9, 5, 2, 1, 0]

Nested list or list inside a list

In [143]:
nested_list = [1,1,[1,2]] # how to grab element 2 from this nested list

In [144]:
nested_list[2][1] # 2 is in second index from the first list and 1st index from the second list

2