In [41]:
my_string= 1,2,3 #normal loop

In [42]:
my_list = []
for letter in my_string:
    my_list.append(letter)

In [43]:
my_list

[1, 2, 3]

List comprehension can be defined by code below.

In [6]:
my_string = 'valdo'

In [7]:
my_list = [letter for letter in my_string]

In [8]:
my_list

['v', 'a', 'l', 'd', 'o']

Another example.

In [17]:
my_int = 1,23,'valdo',5.7,2

In [18]:
my_number = [number for number in my_int]

In [19]:
my_number

[1, 23, 'valdo', 5.7, 2]

In [20]:
b= [x for x in "lisa"]

In [21]:
b

['l', 'i', 's', 'a']

In [22]:
#another one is

In [23]:
my_string = [word for word in "Elisabeth" ]

In [24]:
my_string

['E', 'l', 'i', 's', 'a', 'b', 'e', 't', 'h']

In [25]:
my_number = [num for num in range(0,21,2)]

In [26]:
my_number

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
my_number = [num**2 for num in range(0,11)]

In [28]:
my_number

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Using if statement

In [29]:
my_list = [num for num in range(0,11) if num%2==0]

In [30]:
my_list

[0, 2, 4, 6, 8, 10]

In [31]:
my_list = [num**2 for num in range(0,11) if num%2==0]

In [32]:
my_list

[0, 4, 16, 36, 64, 100]

In [33]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*tem +32) for tem in celcius]

In [34]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [38]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(temp*(9/5)+32)

[32.0, 50.0, 68.0, 94.1]

In [36]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

Make sure that your code is easy to read whenever you visit again

Nested Loop in list comprehension

In [40]:
#simple nested for loop
my_list = []
for num in [2,4,6]:
    for nest_num in [1,10,100]:
        my_list.append(num*nest_num)
print(my_list)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [53]:
#list comprehension
my_list = [x*y for x in [2,4,6] for y in [1,10,100]]
print(my_list)

[2, 20, 200, 4, 40, 400, 6, 60, 600]